# 强制设置文本文件的换行符为lf。
* text=lf

# 对于.txt文件，标记为文本文件，并进行行尾规范化。
# 行尾规范即上一项的规则，此处只是将文件标识为文本文件
*.txt text
*.md text

*.json text
*.js text
*.jsx text
*.ts text
*.tsx text
*.html text

# 对于`.jpg .png .ico`文件，标记为非文本文件
*.ico -text
*.jpg -text
*.png -text

# 对于bat文件，标记为文本文件，在文件入Git库时进行规范化，行尾转换为LF。
# 在检测到出工作目录时，行尾自动转换为CRLF。
*.bat text eol=crlf

# 对于sh文件，标记为文本文件，在文件入Git库时进行规范化，即行尾为LF。
# 在检出到工作目录时，行尾也不会转换为CRLF（即保持LF）。
*.sh text eol=lf
